.analysisContainer {
  padding: 100px 0;
  .analysisWrapper {
    max-width: 60%;
    padding: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    column-gap: 100px;
    .detailsWrapper {
      max-width: 70%;
      .title {
        font-weight: 700;
        color: #9629e6;
        font-size: 30px;
      }
      .description {
        color: #707070;
      }
      .analysisButton {
        margin: 10px 0;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid #6730e3;
        color: #6730e3;
        font-size: 15px;
        font-weight: 700;
        max-width: fit-content;
        outline: transparent;
        background-color: white;
        cursor: pointer;
        a {
          text-decoration: unset;
        }
        &:hover {
          color: white;
          background: #6730e3;
        }
      }
    }
  }
}
