.featuresContainer {
  background-image: url("../../../../assets/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
  .featuresWrapper {
    max-width: 60%;
    padding: 30px 0;
    margin: auto;
    color: white;
    .titleWrapper {
      font-weight: 700;
      font-size: 30px;
      text-align: center;
    }
    .featureItem {
      margin: 50px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .imageContainer {
        max-width: 300px;
        margin-right: 60px;
      }
      .detailsWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
